@font-face {
    font-family: airstream;
    src: url(fonts/Airstream-webfont.svg);
    src: url(fonts/Airstream-webfont.woff);
}
@font-face {
    font-family: lakeshor;
    src: url(fonts/LAKESHOR-webfont.svg);
    src: url(fonts/LAKESHOR-webfont.woff);
}
html {
    height: 100%
}
body {
    height: 100%;
    background-color: azure;
    display: flex;
    flex-direction: column;
   
    margin: 0;
}
.logo {
    display: block;
    text-align: center;
    background-color: beige;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: lakeshor;
    
   
}
h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
}
.details-image {
    width: 60vw;
    height: 50vw;
    border-radius: 25%;
}
.details-title {
    display: block;
    background-color: aliceblue;
}
.thumbnails-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 37vh;
    overflow-y: scroll;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
    margin-top: 3vh;
}
.thumbnails-item {
    border: solid 2px blueviolet;
    margin-top: 2vh;
    border-radius: 25%;
    overflow: hidden;
}
.thumbnails-anchor {
    text-decoration: none;
}
.thumbnails-image {
    width: 25vw;
    height: 15vw;
    display: block;
}
.thumbnails-title {
    display: block;
    text-align: center;
    background-color: antiquewhite;
    color: black;
    
}
@media (min-width: 560px) {
    .main-class {
        flex-direction: row;
    }
    .thumbnails-list {
        order: -1;
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 80vh;
        justify-content: flex-start;
       

    }
    .thumbnails-item {
        min-height: 18vw;
    }
    .thumbnails-title {
        height: 3vw;
    }

}
@media (min-width: 1000px) {
    
}