body, html {
  height: 100%;
}
body {
  margin: 0;
}
.tabs {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vh;
}
.active {
    background-color: blue;
    color: white;
}
.button-menu {
    width: 40%;
    margin-right: 2vw;
}
#employee-form {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
}
.form-input {
  width: 70%;
  font-size: 1.3em;
}
.form-select-group {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
  width: 80%
}
.form-select {
  width: 40vw;
  font-size: 1.2em;
}
.form-buttons {
  display: flex;
  justify-content: space-between;
  width: 80%
}
table, th, td {
    border: 1px solid black;
  }
  table.center {
    margin-left: auto; 
    margin-right: auto;
  } 
  th, td {
    padding: 1vw;
  }
  .table-logo {
    text-align: center;
  }
  button {
    font-size: 1.3em;
  }
  .two-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20vh;
  }
  @media (min-width: 560px) {
    .form-select-group {
      /* justify-content: space-evenly; */
      font-size: 1.3em;
      width: 50vw
    }
    .two-inputs {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 80vw;
      height: auto
    }
    .form-select {
      width: 30vw;
      font-size: 1em;
    }
    .form-buttons {
      display: flex;
      justify-content: space-around;
      width: 80%
    }
    .button-menu {
      width: 20vw;
      font-size: 1em;
      
  }
  .form-input {
    width: 30vw;
    font-size: 1.3em;
  }
  .button-menu+.button-menu{
    margin-left: 20vw;
  }
  
  }
   
