.word {
    display: flex;
    margin-top: 5vh;

}
.letter {
    margin-left: 1vw;
    background-color: black;
    color: black;
    width: 4vw;
    height: 4vw
}
#letter-input {
    width: 4vw;
}
.field {
    display: flex;
    flex-direction: column;
}
.letter-row {
    margin-top: 4vh;
}
#word-input {
    width: 25vw;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}