html {
  height: 100%;

}

body {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.board {
  display: flex;
  flex-direction: column;

}

.board-row {
  display: flex;
  flex-direction: row;



}


.cell-black {
  width: 5vw;
  height: 5vw;
  background-color: black;
  border: 1px solid black;  
}
  
 

.cell-white {
  width: 5vw;
  height: 5vw;
  
  border: 1px solid black; 
  background-color: white;
  
}